.overlay-create-new-card {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #4d4d4db0;
  z-index: 100000;
}

.create-new-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 16px;
  gap: 16px;
  border-radius: 8px;
  width: 336px;
  background-color: #f2f2f2;
  box-shadow: 17px -1px 23px -5px rgba(15, 15, 15, 0.12);
}

.header-create-new-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 8px 0;
}

.header-create-new-card h2 {
  margin: 0;
  flex: 1;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #012f73;
  text-transform: capitalize;
}

.close-modal-button {
  padding: 10px 16px;
  cursor: pointer;
}

.close-modal-button svg {
  width: 16px;
  height: 16px;
}

.close-modal-button svg path {
  transition: all 0.4s linear;
}

.close-modal-button:hover svg path {
  fill: #d10000;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #012f73;
}

.body-create-new-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  align-self: stretch;
}

.first-fields {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.first-fields label {
  font-size: 1.15rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #031e42;
}

.first-fields input {
  align-self: stretch;
  padding: 6px 8px;
  border: 1px solid;
  border-color: #012f73;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #031e42;
  transition: all 0.4s linear;
}

.first-fields input ::placeholder {
  color: #7a7a7a;
}

.first-fields input:focus {
  outline: none;
  border-color: #0649ad;
  box-shadow: 2px 7px 10px -3px rgb(104 104 104 / 61%);
}

.second-fields {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.second-fields label {
  font-size: 1.15rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #031e42;
}

.second-fields textarea {
  align-self: stretch;
  padding: 6px 8px;
  border: 1px solid;
  border-color: #012f73;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #031e42;
  transition: all 0.4s linear;
  resize: none;
  height: 140px;
}

.second-fields textarea ::placeholder {
  color: #7a7a7a;
}

.second-fields textarea:focus {
  outline: none;
  border-color: #0649ad;
  box-shadow: 2px 7px 10px -3px rgb(104 104 104 / 61%);
}

.footer-create-new-card {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
}

.btn-close-new-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  width: 6rem;
  border: 1px solid;
  border-color: #a0a0a0;
  border-radius: 6px;
  background-color: transparent;
  transition: all 0.4s linear;
  cursor: pointer;
}

.btn-close-new-card span {
  text-align: center;
  color: #a19696e6;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  transition: all 0.4s linear;
}

.btn-close-new-card:hover {
  background-color: #e3dbdbc2;
  border-color: #848484;
}

.btn-close-new-card:hover span {
  color: #7a7a7a;
}

.btn-add-new-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px 12px;
  width: 7rem;
  border: 1px solid;
  border-color: #0d4699;
  border-radius: 6px;
  background-color: #0c3297cf;
  transition: all 0.4s linear;
  cursor: pointer;
}

.btn-add-new-card img {
    width: 16px;
    height: 16px;
}

.btn-add-new-card span {
  color: #eae6e6;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.btn-add-new-card:hover {
  background-color: #103aab;
  border-color: #1166de;
}
